@font-face {
  font-family: "iconfont"; /* Project id 4212619 */
  src: url('iconfont.woff2?t=1692155984258') format('woff2'),
       url('iconfont.woff?t=1692155984258') format('woff'),
       url('iconfont.ttf?t=1692155984258') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-dianhua-xian1:before {
  content: "\e791";
}

.icon-dianhua:before {
  content: "\e792";
}

.icon-xuanzeyangshi2:before {
  content: "\e78d";
}

.icon-xuanzeyangshi4:before {
  content: "\e78e";
}

.icon-yuyan:before {
  content: "\e78f";
}

.icon-xuanzeyangshi1:before {
  content: "\e790";
}

.icon-mobile:before {
  content: "\e785";
}

.icon-bottom14:before {
  content: "\e786";
}

.icon-email1:before {
  content: "\e787";
}

.icon-address:before {
  content: "\e788";
}

.icon-a-email11:before {
  content: "\e789";
}

.icon-edit:before {
  content: "\e78a";
}

.icon-download1:before {
  content: "\e78b";
}

.icon-download8:before {
  content: "\e78c";
}

.icon-instagram1:before {
  content: "\e777";
}

.icon-search4:before {
  content: "\e778";
}

.icon-a-jia1:before {
  content: "\e779";
}

.icon-a-address1:before {
  content: "\e77a";
}

.icon-qq:before {
  content: "\e77b";
}

.icon-pinterest:before {
  content: "\e77c";
}

.icon-left9:before {
  content: "\e77d";
}

.icon-tel1:before {
  content: "\e77e";
}

.icon-left10:before {
  content: "\e77f";
}

.icon-tumblr:before {
  content: "\e780";
}

.icon-right10:before {
  content: "\e781";
}

.icon-bottom10:before {
  content: "\e782";
}

.icon-a-fax1:before {
  content: "\e783";
}

.icon-up14:before {
  content: "\e784";
}

.icon-youtube:before {
  content: "\e74e";
}

.icon-a-skype2:before {
  content: "\e759";
}

.icon-phone1:before {
  content: "\e75a";
}

.icon-a-whatsapp1:before {
  content: "\e768";
}

.icon-skype:before {
  content: "\e769";
}

.icon-fax:before {
  content: "\e76a";
}

.icon-whatsapp:before {
  content: "\e76b";
}

.icon-a-contact1:before {
  content: "\e76c";
}

.icon-facebook:before {
  content: "\e76d";
}

.icon-twitter:before {
  content: "\e76e";
}

.icon-phone2:before {
  content: "\e76f";
}

.icon-Linkedin:before {
  content: "\e770";
}

.icon-contact:before {
  content: "\e771";
}

.icon-bigger1:before {
  content: "\e772";
}

.icon-home:before {
  content: "\e773";
}

.icon-jia:before {
  content: "\e774";
}

.icon-up10:before {
  content: "\e775";
}

.icon-right9:before {
  content: "\e776";
}

.icon-logo-tiktok:before {
  content: "\e9e5";
}

.icon-icon-twitternew2:before {
  content: "\e74a";
}

.icon-phone:before {
  content: "\e74b";
}

.icon-calendar3:before {
  content: "\e74c";
}

.icon-left7:before {
  content: "\e74d";
}

.icon-right7:before {
  content: "\e74f";
}

.icon-up7:before {
  content: "\e750";
}

.icon-a-icon-kfckfc1:before {
  content: "\e751";
}

.icon-a-icon-twitternew21:before {
  content: "\e752";
}

.icon-tel:before {
  content: "\e753";
}

.icon-icon-twitternew:before {
  content: "\e754";
}

.icon-a-sousuoda:before {
  content: "\e755";
}

.icon-message2:before {
  content: "\e756";
}

.icon-calendar5:before {
  content: "\e757";
}

.icon-gantanhao:before {
  content: "\e758";
}

.icon-instagram:before {
  content: "\e75b";
}

.icon-a-sousuo1:before {
  content: "\e75c";
}

.icon-xiazai:before {
  content: "\e75d";
}

.icon-top2:before {
  content: "\e75e";
}

.icon-chuanshu_shangchuan:before {
  content: "\e75f";
}

.icon-top10:before {
  content: "\e760";
}

.icon-biaoqian:before {
  content: "\e761";
}

.icon-sousuo:before {
  content: "\e762";
}

.icon-wechat:before {
  content: "\e763";
}

.icon-bottom7:before {
  content: "\e764";
}

.icon-vk:before {
  content: "\e765";
}

.icon-icon-kfckfc:before {
  content: "\e766";
}

.icon-a-youbian2:before {
  content: "\e767";
}

